@page "/fetchdata"

@using Frontend.Data
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration;
@inject HttpClient http;
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Weathers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weather in Weathers)
            {
                <tr>
                    <td>@weather.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<WeatherForecast> Weathers = new List<WeatherForecast>();


    private async Task GetWeatherData()
    {
        var s = _configuration["ApiHostUrl"];
        Weathers = await http.GetJsonAsync<List<WeatherForecast>>(_configuration["ApiHostUrl"] + "weather");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetWeatherData();
    }
}
