@page "/OrderPage"
@inherits OrderPageBase
@inject IJSRuntime _jSRuntime;


<div class="container mt-5">
    @if (basketproducts == null)
    {
        <div class="mt-5 text-center w-100">
            <img class="mt-5" src="./images/EmptyCart.png" style="width:70%;height:15%" />
        </div>
    }
    else
    {
        <h4 class="mb-2">Your order details:</h4>
        <table class="table table-striped table-bordered table-responsive-sm" responsive>
            <thead class="bg-dark text-white">
                <tr>
                    <th class="text-center" scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Image</th>
                    <th scope="col">Ammount</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var basketProduct in basketproducts)
                {
                    <tr>
                        <th class="text-center" scope="row">@basketProduct.Product.Id</th>
                        <td>@basketProduct.Product.Name</td>
                        <td class="text-center">@basketProduct.Product.ProductCategoryId</td>
                        <td class="text-center">
                            <img src="@("https://promoboxx.com/wp-content/uploads/2013/01/promoboxx_icon__white_200x2002.png")"
                                 style="width:40px;height:40px" />
                        </td>
                        <td class="text-center">
                            <div class="">
                                <button class="btn btn-sm btn-outline-danger mr-1" @onclick="() =>Decrease(basketProduct)">                                                                                            -</button>
                                <input type="number" class="col-sm-4 text-center" @bind-value="basketProduct.Amount" readonly>
                                <button class="btn btn-sm btn-outline-success mr-1" @onclick="() =>Increase(basketProduct)">+</button>

                            </div>
                        </td>
                        <td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm" @onclick="() => Remove(basketProduct)">X</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="w-100 text-right mt-5">
            <button class="btn btn-info " @onclick="() => SendOrder(basketproducts)">Send Order</button>
        </div>
    }
</div>

