@inherits Frontend.Componenets.ProductImagesBase


<div class="drag-drop-zone">
    <InputFile OnChange="AddFiles" multiple />
    @if (Images.Count == 0)
    {
        <span>Click or drag to select images...</span>
    }
    else
    {
        <div class="images-box">
            <div class="flex-row-reverse">
                @foreach (var image in Images)
                {
                    <form @onsubmit="() => RemoveFile(image)" method="POST">
                        <div style="position:relative">
                            <button type="submit" class="close">
                                <span>&times;</span>
                            </button>
                            <img src="@image.ImageDataURL" asp-append-version="true" alt="Alternate Text" style="width:100px; height:100px; margin:10px" />
                        </div>
                    </form>
                }
            </div>
        </div>
    }
</div>