@page  "/signup"
@inherits SignupBase

<EditForm Model="@user" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div class="container col-lg-4">
        <div class="row">
            <div>
                <h3 style="font-weight:bold;" class="mb-3">G5Store User Register</h3>
            </div>
            <div>
                <br />
            </div>
            <div class="col-12 row mb-3">
                <InputText class="form-control col-12" @bind-Value="user.FirstName" placeholder="first name (optional)" />
            </div>
            <br />
            <div class="col-12 row mb-3">
                <InputText class="form-control col-12" @bind-Value="user.LastName" placeholder="last name (optional)" />
            </div>
            <br />
            <div class="col-12 row mb-3">
                <InputText class="form-control col-12" @bind-Value="user.Username" placeholder="user name" />
            </div>
            <br />
            <div class="col-12 row mb-3">
                <InputText type="password" class="form-control col-12" @bind-Value="user.Password" placeholder="password" />
            </div>
            <br />
            <div class="col-12 row mb-3">
                <InputText type="password" class="form-control col-12" @bind-Value="user.ConfirmPassword" placeholder="confirm password" />
            </div>
            <br />
            <AuthorizeView Roles="Admin">
                <Authorized Context="Auth">
                    <div class="col-12 row mb-3">
                        <InputSelect class="form-control col-12" @bind-Value="user.Role">
                            <option value="1">Admin</option>
                            <option value="2">Customer</option>
                        </InputSelect>
                    </div>
                </Authorized>
            </AuthorizeView>
            <br />
            <div class="col-12 row mb-3">
                <span class="col-12"></span>
                <input type="submit" class="form-control col-6 btn btn-primary" value="Sign up" />
                @if (!IsUserAdmin)
                {
                    <a href="/login" class="col-6">Already an user?</a>
                }
            </div>
            <br />
            <div class="col-12 row" style="text-align:left; font-style:italic; color:red">
                <span class="col-12">@ErrorMesssage</span>
            </div>
        </div>
    </div>
</EditForm>