  <!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    <i>G5STORE -  </i>
                    The purpose of this project is to enable companies to sell electronic hardware to their
                    customers via the internet by using our application.
                    There are two different roles in the application; sellers (admins) and customers.
                    Salespeople in the company who use this application will be able to handle products,
                    coupons, system users and orders. The customers will be able to log in,
                    easily search/filter for existing products, add products to the shopping cart,
                    use coupons, create orders and finally receive a confirmation email for their created order.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Technologies</h6>
                <ul class="footer-links">
                    <li><a href="#">.NET Core 3.1</a></li>
                    <li><a href="#">Blazor</a></li>
                    <li><a href="#">Swagger</a></li>
                    <li><a href="#">GitHub Action CI/CD</a></li>
                    <li><a href="#">Microsoft Azure</a></li>
                    <li><a href="#">Microsoft SQL Server</a></li>
                    <li><a href="#">X-Unit Test</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="https://plushogskolan.atlassian.net/wiki/spaces/TO/pages/64061445/Systemkrav">Project Requirements</a></li>
                    <li><a href="https://plushogskolan.atlassian.net/wiki/spaces/G5/overview">Project Documentation</a></li>
                    <li><a href="https://plushogskolan.atlassian.net/secure/RapidBoard.jspa?rapidView=15&projectKey=G5">Project board</a></li>
                    <li><a href="https://g5store.azurewebsites.net/">G5Store API</a></li>
                    <li><a href="https://storefront5test.azurewebsites.net/">Website (Test)</a></li>
                    <li><a href="https://storefront5prod.azurewebsites.net/">Website (Production)</a></li>
                    <li><a href="https://github.com/PGBSNH19/project-grupp-5-1">Github Source Code</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2021 All Rights Reserved by
                    <a href="#">G5Store</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><span class="iconify rounded" data-icon="cib:facebook" data-inline="false" style="width:35px;height:25px"></span></a></li>
                    <li><a class="twitter" href="#"><span class="iconify rounded" data-icon="cib:twitter" data-inline="false" style="width:35px;height:25px"></span></a></li>
                    <li><a class="instagram" href="#"><span class="iconify rounded" data-icon="cib:instagram" data-inline="false" style="width:35px;height:25px"></span></a></li>
                    <li><a class="linkedin" href="#"><span class="iconify rounded" data-icon="cib:linkedin" data-inline="false" style="width:35px;height:25px"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>