@using Frontend.Auth
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    

    <div class="content px-4">
        @Body
    </div>
</div>

