@using Frontend.Auth
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<body>
    <NavMenu />
    <main class="container main-container">
        @Body
    </main>
    <Footer />
</body>
