@using Frontend.Auth
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <AuthorizeView>
            <Authorized>
                <p class="mt-3 font-weight-bold">Welcome, @context.User.Identity.Name</p>
            </Authorized>
            <NotAuthorized>
                <p class="mt-3 font-weight-bold">Signed out...!</p>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <p class="mt-3 font-weight-bold">(Admin)</p>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Customer">
            <Authorized>
                <p class="mt-3 font-weight-bold">(Customer)</p>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <a class="ml-2" href="/" @onclick="(() => Logout())">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a class="ml-2" href="/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    public async Task Logout()
    {
        await ((AuthStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }
}