@using Frontend.Auth
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<body>
    <NavMenu />
    <div class="container">
        @Body
    </div>
</body>