@using Blazored.Modal
@using Blazored.Modal.Services
@using Pages

@inject IModalService modal

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="managecoupons">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Coupons
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(() => modal.Show<ProductBasket>("Product basket"))" style="cursor: pointer;">
                <span class="oi oi-cart" data-inline="false"></span> View basket
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manageproducts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Products
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
